DATABASE_URL=
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_PRODUCT_DISCOUNT_ID=
SCOPES=read_discounts,write_discounts,write_products
SHOPIFY_APP_URL=https://dividend-cart-webcams-use.trycloudflare.com/
